.header_bar > .menu_name {
  font-size: large;
  text-align: center;
  height: 60px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  color: #1a1a1a;
}

.container-fluid {
  height: 60px;
  background: #c20324;
}

/* .nav_wrap > .menu > .container {
    
  } */
