<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
  </head>
  <body>
    <form action="/<%= postDetail[0].post_uid %>?_method=PATCH" method="post">
      제목<br />
      <input
        name="post_title"
        type="text"
        value="<%= postDetail[0].post_title %>"
      /><br />
      <br />
      작성자<br />
      <input
        name="post_writer"
        type="text"
        value="<%= postDetail[0].post_writer %>"
      /><br />
      <br />
      내용<br />
      <input
        name="post_content"
        type="text"
        value="<%= postDetail[0].post_content %>"
      /><br />
      <br />
      <input type="submit" value="수정" />
    </form>
  </body>
</html>
