<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
  </head>
  <style>
    form {
      padding: 50px 20px 50px;
      text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */
    }
  </style>
  <body>
    <% include ./navbar.ejs %>
    <form action="/" method="post">
      제목<br />
      <input name="post_title" type="text" /><br />
      <br />
      작성자<br />
      <input name="post_writer" type="text" /><br />
      <br />
      내용<br />
      <input name="post_content" type="text" /><br />
      <br />
      <input type="submit" value="추가" />
    </form>
  </body>
</html>
