/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: "100vw";
  height: "100vh";
  background-color: "rgba(0, 0, 0, 0.35)";
}

.popupWrapper {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 800;
  max-width: "100%";
  max-height: "90%";
  overflow-y: "auto";
  background-color: "white";
} */

.notice {
    float: left;
    width: 700px;
    margin-left: 12px;
    margin-top: 4px;
    text-align: left;
}

.closeBtn {
    all: unset;
    float: right;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 4px;
    padding: 5px;
}

.closeBtn:hover {
    background-color: #00000010;
    box-shadow: 0px 8px 12px rgba(27, 39, 63, 0.4);
    transform: translateY(-0.8px);
}

.closeBtn:before {
    display: inline-block;
    content: '\00d7';
    font-size: 20px;
    margin-left: 5px;
    padding-right: 2px;
}

.closeToday {
    all: unset;
    float: left;
    margin-bottom: 8px;
    margin-left: 16px;
    padding: 5px;
}

.closeToday:hover {
    background-color: #00000010;
    box-shadow: 0px 8px 12px rgba(27, 39, 63, 0.4);
    transform: translateY(-0.8px);
}

.closeWrapper {
    background-color: black;
}
