.img {
    margin-right: 168px;
    margin-top: 330px;
}

.image1 {
    background-image: url(https://im.dongseo.ac.kr/resources/images/img_login01.png);
    background-repeat: no-repeat;
    background-size: 1100px 450px;
    background-position: left center;
    transition: all 1s;
}

.image2 {
    background-image: url(https://im.dongseo.ac.kr/resources/images/img_login02.png),
        url(https://im.dongseo.ac.kr/resources/images/img_m_txt.png);
    background-repeat: no-repeat;
    background-size: 1100px 450px;
    background-position: left center;
    transition: all 1s;
}

.image3 {
    background-image: url(https://im.dongseo.ac.kr/resources/images/img_login03.png);
    background-repeat: no-repeat;
    background-size: 1100px 450px;
    background-position: left center;
    transition: all 1s;
}

.image4 {
    background-image: url(https://im.dongseo.ac.kr/resources/images/img_login04.png);
    background-repeat: no-repeat;
    background-size: 1100px 450px;
    background-position: left center;
    transition: all 1s;
}

.loginContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 74.2vh;
    overflow-x: hidden;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: none;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.7);
    width: 600px;
    min-width: 700px;
    height: 300px;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee0ce;
    border-radius: 50px 0 0 0;
    margin-left: 160px;
    position: relative;
    min-width: 530px;
}

.loginForm label {
    font-weight: bold;
    margin-bottom: 8px;
}

.loginForm input {
    width: 120%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginForm button {
    width: 116px;
    padding: 10px 0;
    background-color: #c20324;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0.7, 0.7);
    margin-top: 10px;
}

.loginForm button:hover {
    background-color: #870119;
}

.loginForm input:focus {
    background-color: #e8f0fe;
}

.vline {
    border-left: 1px solid #000;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-10%);
    margin-left: 10px;
}

.contentContainer {
    margin-left: 40px;
}

.scrollContainer {
    margin-left: 40px;
    overflow-y: auto;
    max-width: 250px;
    max-height: 175px;
    width: 250px;
    height: 175px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Do+Hyeon&family=Gasoek+One&family=Orbit&display=swap');

.title {
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Orbit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bebas+Neue&family=Black+Han+Sans&family=Do+Hyeon&family=Gasoek+One&family=Orbit&display=swap');

.log {
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Orbit', sans-serif;
}
